:root {
    --primary: #AC3B61;
    --secondary: #6c757d;
    --mate-red: #AC3B61;
    --dark-midnight-blue: #373D52;
    --grey-midnight-blue: #282828;
    --white: #fff;
    --swiper-navigation-size: 2.75rem !important;
    --bg-top-nav: #E2E2E2;
    --color-top-nav: #696675;
    --black: #000;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

@media only screen and (max-width: 1200px){
    html {
        font-size: 56.25%;
    }
}

@media only screen and (max-width: 900px){
    html {
        font-size: 50%;
    }
}

@media only screen and (max-width: 1800px){
    html {
        font-size: 62.5%;
    }
}